nav {
    display: flex;
    justify-content: center;
}

nav a {
    margin: 0 10px;
    padding: 5px;
    text-decoration: none;
    color: #000000;
}

nav a:hover {
    color: #2672ff;
}

.active {
    background-color: #ff73ff;
    color: #6d7bff;
}