body {
  margin: 0;
  padding: 0;
}

h1 {
  color: rgb(209, 103, 209);
}

.red-title {
  background-color: #000;
  color: red;
  padding: 15px;
  border: 5px solid;
}

.title {
  background-color: #000;
  color: #fff;
}